body{
    width: 100%;
    background-color: rgb(207, 209, 208);
}
.container{
    display: flex;
    width: 85%;
    height: 530px;
    margin-left: 7%;
    margin-top: 3%;
    background-color: white;
}
.register{
    flex: 1;
    margin: 30px;
}
.image{
    background-image: url("images/appel.jpg");
    flex: 2;
    height: 530px;
}
.champs input{
    width: 350px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid;
}
.champs input:hover{
    border: 2px solid;
    border-color: rgb(255, 81, 96);
}
button{
    width: 350px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid;
    background-color: rgb(255, 81, 96);
    border-color: rgb(255, 81, 96);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
#text{
    margin-top: -5px;
    margin-left: 10px;
    font-size: 12px;
}
a{
   color: rgb(255, 81, 96);    
}
.compte p{
    margin-bottom: 30px;
    margin-top: -15px;
}
@media only screen and (max-width: 1300px){

    .container{
        width: 50%;
    }
    .image{
        background-image: url("images/appels.jpg");
        height: 500px;
        }
        .champs input{
            width: 280px;
            height: 30px;
        }
        button{
            width: 280px;
            height: 30px;
        }
        .compte p{
            font-size: 12px;
        }
        .checkbox p{
            font-size: 12px;
        }
        .container{
            width: 65%;
            height: 500px;
            margin-left: 15%;
        }
        #text{
            font-size: 12px;
        }
        
}
@media only screen and (max-width: 1100px){

    .image{
        background-image: url("images/appeles.jpg");
        height: 500px;
        }
        .champs input{
            width: 280px;
            height: 30px;
        }
        button{
            width: 280px;
            height: 30px;
        }
        .compte p{
            font-size: 12px;
        }
        .checkbox p{
            font-size: 12px;
        }
        #text{
            font-size: 12px;
        }
        .container{
            width: 78%;
            height: 500px;
            margin-left: 10%;
        }
        
}

@media only screen and (max-width: 1000px){

    .image{
        background-image: url("images/appels.jpg");
        height: 500px;
        }
        .champs input{
            width: 280px;
            height: 30px;
        }
        button{
            width: 280px;
            height: 30px;
        }
        .compte p{
            font-size: 12px;
        }
        .checkbox p{
            font-size: 12px;
        }
        .container{
            width: 85%;
            height: 500px;
            margin-left: 7%;
        }
        #text{
            font-size: 12px;
        }
        
}

@media only screen and (max-width: 950px){

    .image{
        background-image: url("images/appels.jpg");
        height: 500px;
        }
        .champs input{
            width: 280px;
            height: 30px;
        }
        button{
            width: 280px;
            height: 30px;
        }
        .compte p{
            font-size: 12px;
        }
        .checkbox p{
            font-size: 12px;
        }
        .container{
            width: 85%;
            height: 500px;
            margin-left: 7%;
        }
        #text{
            font-size: 12px;
        }
        
}
@media only screen and (max-width: 800px){

    .image{
        background-image: url("images/appels.jpg");
        height: 500px;
        }
        .champs input{
            width: 200px;
            height: 30px;
        }
        button{
            width: 200px;
            height: 30px;
        }
        .compte p{
            font-size: 12px;
        }
        .checkbox p{
            font-size: 9px;
        }
        #text{
            font-size: 9px;
        }
        .container{
            width: 95%;
            height: 500px;
            margin-left: 2.5%;
        }
        
}



 
